<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <!--services start -->
    <form enctype="multipart/form-data" style="border:1px solid #ccc; background-color: black;" method="POST" action="/DrivingLiscenseDelivery/">
        <div class="container form-group">
          <h1 style="color:white"> تحویل گواهینامه رانندگی</h1>
          <hr>
      
          {% csrf_token %}
          {{ form.as_p }}
          <div class="clearfix">
            <button type="submit" class="btn btn-primary" role="button">ارسال</a>
          </div>
        </div>
      </form>
     
{% endblock page_content %}
