<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
	
      

    <!--services start -->
    <div class="services_main">
    	<div class="container">
    		<div class="creative_taital">
                <br> <br> <br> <br>
    			<h1 class="creative_text">دفتر پیشخوان خدمات دولت</h1>
    			<p id="tozih">دفتر پیشخوان خدمات دولت و بخش عمومی و غیردولتی یا دفتر پیشخوان، به دفاتری گفته می‌شود که دولت ایران برای ارائهٔ خدمات الکترونیک به مردم در سطح کشور احداث کرده‌است. کلیهٔ دستگاه‌های اجرایی دولتی ایران موظفند خدمات الکترونیکی خود را از راه این دفاتر ارائه دهند. این دفاتر به دست بخش خصوصی اداره می‌شوند. یکی از دلایل تشکیل این دفاتر جلوگیری از موازی‌کاری دستگاه‌های دولتی و حرکت به سوی دولت الکترونیک بیان شده‌است.

برونسپاری خدمات دستگاه‌های اجرائی به این دفاتر مطرح است، اما حدود ۱۶ هزار دفتر پیشخان خدمات دولت، در ایران مشغول به فعالیت هستند که نزدیک به ۱۰ هزار واحد آن در روستاها و حدود ۶ هزار واحد دیگر در شهرها قرار دارند. امور بیمه‌ای، امور سجلی و ثبت احوال و گواهینامه و تخلفات رانندگی و گذرنامه، شارژ کارت‌های مختلف اعتباری و کارت‌های دانشجویی، فروش بلیت اتوبوس‌های بین شهری، پرداخت الکترونیکی قبوض، امور مربوط به اسقاط خودرو، خدمات گمرکی، پست‌بانک، خدمات مخابراتی و… از جمله خدمات قابل عرضه در دفاتر پیشخوان خدمات دولت است. بر طبق برنامه‌ریزی‌ها باید تقریباً به ازای هر ۲۰ هزار نفر یک دفتر پیشخوان با توزیع مناسب در سطح کشور ایجاد شود.

در همین رابطه و بر اساس قانون می‌بایستی با هدفت یکپارچه سازی خدمات و دفاتر از سال ۱۳۸۸ دفاتر موازی مانند دفاتر پلیس به اضافه ۱۰، دفاتر الکترونیک شهر، دفاتر خدمات بیمه تأمین اجتماعی به این دفاتر تبدیل شوند که عملاً سازمان‌های مربوط در این خصوص مقاومت می‌کنند.

با توجه به ابلاغیه شماره ۲۰۶/۹۳/۷۷۴۰ سال ۱۳۹۳ شورای عالی اداری مسئولیت ایجاد سامانه الکترونیکی و نظارت بر عملکرد دفاتر پیشخوان خدمات دولت بعهده کانون انجمن‌های صنفی دفاتر پیشخوان خدمات دولت گذاشته شده‌است. </p>
    			<div class="btn_main">
    		    </div>
    		</div>
    		    <div class="section_service_2">
    		    	<h1 class="service_text" id="moarefi">معرفی خدمات</h1>
    		    </div>
    		    <div class="service_main">
    		    	<div class="container">
    		    		<div class="row">
    		    			<div class="col-md-6">
    		    				<div class="written_text" dir="rtl">
    		    					<div class="like_icon"><img src="{% static 'images/kartmelli.png' %}" height="80px" width="120px"></div>
                                    <h1 class="written_text">کارت ملی هوشمند</h1>
                                    <p class="written_text">در این قسمت خدمات مرتبط با مراحل درخواست صدور کارت ملی هوشمند ارائه شده است:</p>
    		    					<ul>
                                        <li>درخواست صدور کارت ملی هوشمند</li>
                                        <li>پیگیری درخواست صدور کارت ملی هوشمند</li>
                                        <li>دریافت کارت ملی هوشمند</li>
                                    </ul>
    		    				</div>
    		    			</div>
    		    			<div class="col-md-6">
    		    				<div class="written_text">
                                        <div class="like_icon"><img src="{% static 'images/gozarname.jpg' %}" height="80px" width="120px"></div>
                                        <h1 class="written_text">گذرنامه</h1>
                                        <p class="written_text">در این قسمت خدمات مرتبط با مراحل درخواست صدور گذرنامه ارائه شده است:</p>
                                        <ul>
                                            <li>درخواست صدور گذرنامه</li>
                                            <li>پیگیری درخواست صدور گذرنامه</li>
                                            <li>دریافت گذرنامه</li>
                                        </ul>
                                </div>
    		    			</div>
    		    		</div>
    		    	</div>
    		    </div>
    		    <div class="service_main">
    		    	<div class="container">
    		    		<div class="row">
    		    			<div class="col-md-6">
    		    				<div class="written_text">
                                        <div class="like_icon"><img src="{% static 'images/govahiname.jpg' %}" height="80px" width="120px"></div>
                                        <h1 class="written_text">گواهینامه رانندگی</h1>
                                        <p class="written_text">در این قسمت خدمات مرتبط با مراحل درخواست صدور گذرنامه ارائه شده است:</p>
                                        <ul>
                                            <li>درخواست صدور گواهینامه رانندگی</li>
                                            <li>پیگیری درخواست صدور گواهینامه رانندگی</li>
                                            <li>دریافت گواهینامه رانندگی</li>
                                        </ul>
                                </div>
    		    			</div>
    		    			<div class="col-md-6">
    		    				<div class="written_text">
                                        <div class="like_icon"><img src="{% static 'images/khalafi.png' %}" height="80px" width="120px"></div>
                                        <h1 class="written_text">خلافی خودرو</h1>
                                        <p class="written_text">در این قسمت خدمات مرتبط با مراحل درخواست خلافی خودرو ارائه شده است:</p>
                                        <ul>
                                            <li>درخواست صدور خلافی خودرو</li>
                                            <br><br>
                                        </ul>
                                </div>
    		    			</div>
    		    		</div>
    		    	</div>
    		    </div>
    	</div>	  
	</div>

    <div class="touch_section" id="about_us">
        <div class="container">
            <h1 class="touch_text">درباره ما</h1>
            <br>
            <div class="quote_section" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="team"> 
                            <p id="teamtit">اعضای تیم ما:</p>
                            <ul>                 
                                <li>سیده فاطمه باب الحوائجی</li>
                                <li>مریم کوچه باغیان</li>
                                <li>علی ترکزبان</li>
                                <li>محمد سوری</li>
                                <li>ابولفضل سعیدی تبار</li>
                                <li>محمد حسین شبیری</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--touch_section end -->
    <!--Contact_section start -->
    <div class="contact_main" id="contact_us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="touch_text"> تماس با ما</h1>
                </div>
            </div>
        </div>
        <div class="contact_section_2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="{% static 'images/address.png' %}" style="max-width: 100%;padding-left: 70px; ">
                            <p class="email-text"><a href="#">همدان دانشگاه بوعلی سینا<br>دانشکده مهندسی<br>دپارتمان مهندسی کامپیوتر</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <img src="{% static 'images/call.png' %}" style="max-width: 100%;padding-left: 30px;">
                            <p class="email-text"><a href="#">989367267127+</a></p>
                            <p class="email-text"><a href="#">989386186609+</a></p>
                            <p class="email-text"><a href="#">989182257059+</a></p>
                            <p class="email-text"><a href="#">989186776037+</a></p>
                            <p class="email-text"><a href="#">989185075878+</a></p>
                            <p class="email-text"><a href="#">989185789403+</a></p>
                            
                            
                            
                            
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="map_icon">
                            <br><br>
                            <img src="{% static 'images/gmail.png' %}" style="max-width: 100%; padding-left: 30px; height: 150px; width:180px;">
                            <br><br><br>
                            <p class="email-text"><a href="#">maralbabolhavaeji@gmail.com</a></p>
                            <p class="email-text"><a href="#">mkbaghian@gmail.com</a></p>
                            <p class="email-text"><a href="#">ali.torkzaban77@gmail.com</a></p>
                            <p class="email-text"><a href="#">mohammadsouri.basu@gmail.com</a></p>
                            <p class="email-text"><a href="#">abolfazl.saeidi@gmail.com</a></p>
                            <p class="email-text"><a href="#">mhshobeiribasu@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Contact_section end -->
   
    <div class="lets_touch_main">
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <p class="lorem_text">انتقادات و پیشنهادات شما را پذیراییم!</p>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input_main">
                       <div class="container">
                          <form method="POST">
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="نام" name="نام">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="آدرس ایمیل" name="آدرس ایمیل">
                            </div>
                            <form method="POST">
                                <div class="form-group">
                                  <textarea class="massage-bt" placeholder="محتوای پیام" rows="8" id="comment" name="text"></textarea>
                                </div>
                            </form>
                          </form>
                       </div> 
                       <div class="send_btn">
                        <button  type="button" class="main_bt"><a href="#">ارسال</a></button>
                       </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>تمامی حقوق مادی و معنوی این وب ‌سایت متعلق به دانشگاه بوعلی سینا همدان است. طراحی و پیاده سازی توسط تیم مذکور در زمستان 1399©</p>
                </div>
            </div>
        </div>
    </div>
      {% endblock page_content %}
