<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
    <!--services start -->
    <form enctype="multipart/form-data" style="border:1px solid #ccc; background-color: black;" method="POST" action="/NationalCardDelivery/">
        <div class="container form-group">
          <h1 style="color:white">  تحویل کارت ملی هوشمند</h1>
          <hr>
      
          {% csrf_token %}
          {{ form.as_p }}
          
          <div class="clearfix">
            <button type="submit" class="btn btn-primary" role="button">ارسال</a>
          </div>
        </div>
      </form> 
      
 {% endblock page_content %}
