<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
    <!--services start -->
    <div class="services_main">
    	<form style="border:1px solid #ccc">
            <div class="container form-group">
              <h1>فرم درخواست صدور کارت ملی هوشمند</h1>
              <hr>
          
              <label for="email"><b> عکس (3x4) </b></label>
              <input type="file" id="myFile" name="filename">
              <br>
              <label for="email"><b> مدرک پزشکی</b></label>
              <input type="file" id="myFile" name="filename">
              <br>
              
              <div class="clearfix">
                <a class="btn btn-primary" role="button">ارسال</a>
              </div>
            </div>
        </form> 
    </div>
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
{% endblock page_content %}
