<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
    <!--services start -->
    <div class="services_main">
    	<form style="border:1px solid #ccc; background-color: black;" method="POST" action="/NationalCard/" enctype="multipart/form-data">
        <div class="container form-group">
          {% if messages %}
          <div class="messages" style="font-size: xx-large;">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>  {{ message }} : {{ code }} </li>
            {% endfor %}
          </div>
          {% else %}
          <h1 style="color:white">فرم دریافت کارت ملی</h1>

          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit"  value="ارسال">
          {% endif %}
        </div>
        </form> 
    </div>
{% endblock page_content %}
