<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
    <!--services start -->
    <form style="border:1px solid #ccc; background-color: black;" method="POST" action="/NationalCardFollowup/">
      <div class="container form-group">
        <h1 style="color:white">فرم پیگیری کارت ملی</h1>

        {% csrf_token %}
        {{ form.as_p }}
        <div class="clearfix">
          <button type="submit" class="signupbtn" id="sbtn">ارسال</button>
        </div>
        {% if res_img %}
        <img src="{{ res_img.url }}" >
        {% endif %}
      </div>
    </form> 
 {% endblock page_content %}
