<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
	
    <!--services start -->
    <form style="border:1px solid #ccc">
        <div class="container form-group">
          <h1>فرم درخواست صدور گذرنامه</h1>
          <hr>
      
          <label for="email"><b> عکس (3x4) </b></label>
          <input type="file" id="myFile" name="filename">
          <br>
          <label for="email"><b> عکس پایان خدمت یا معافیت تحصیلی</b></label>
          <input type="file" id="myFile" name="filename">
          <br>
          <label for="email"><b> کارت ملی</b></label>
          <input type="file" id="myFile" name="filename">
          <br>
          
          <div class="clearfix">
            <a class="btn btn-primary" role="button">ارسال</a>
          </div>
        </div>
      </form> 
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      {% endblock page_content %}
