{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
	
    <div class="services_main">
    <form action="/signup/" style="border:1px solid #ccc; background-color: black;" id="sabt" method="POST">
        <div class="container form-group">
          <!-- <img src="{% static 'images/signup.png' %}"> -->
          <h1 style="color:white">فرم ثبت نام</h1>

          <hr>
      
          {% csrf_token %}
          {{ form.as_p }}
            
          <div class="clearfix">
            <button type="submit" class="signupbtn" id="sbtn">ثبت نام</button>
          </div>
        </div>
      </div>
      </form> 
      {% endblock page_content %}
