<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- body -->
{% block page_content %}
	
    <!--services start -->
    <form enctype="multipart/form-data" style="border:1px solid #ccc; background-color: black;" method="POST" action="/Violation/">
      <div class="container form-group">
          <h1 style="color:white">فرم خلافی خودرو</h1>
          <hr>
            
          {% csrf_token %}
          {{ form.as_p }}
          <div class="clearfix">
            <button type="submit" class="signupbtn" id="sbtn">ارسال</button>
          </div>
        </div>
      </form> 
  {% endblock page_content %}
